$textMuted: rgb(175, 175, 175);
$arial: Arial, Helvetica, sans-serif;
$bold: bold;
$background: #c3cfe2;
$white: #fff;
$maintext: rgb(141, 139, 139);
$cardfootercolor: #686de0;
$boxshadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
  rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
  rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

@import "_card", "_sidebar", "_mixins";

body {
  background: $background;
}

a {
  color: $white;
  text-decoration: none;
  font-size: 24px;
  vertical-align: middle;
  white-space: nowrap;
}

p {
  margin: 0;
  padding: 0;
}

.text-muted {
  color: $textMuted;
}

.naam {
  color: $white;
}

@media only screen and (min-width: 660px) {
  .opdracht-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    margin-top: 50px;
  }
}

@media only screen and (min-width: 998px) {
  .opdracht-2 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;

    margin-top: 50px;
  }
}

/*Ik gebruik FAS 6, maar om een of andere reden kan ik de icons niet weergeven zonder de font-family op deze manier neer te zetten. ( dit is een
bekend probleem ) */
