body {
  background-color: #292b2c;
  color: white;
  font-family: "Courier New", Courier, monospace;
}

.index-img {
  display: block;
  border: 5px solid black;
}

.big-colored-text {
  font-size: 30px;
  color: yellowgreen;
}

#about-link {
  background-color: gray;
}

header {
  border: 1px solid blue;
  margin: 0 auto;
  padding: 20px;
  width: 400px;
}

main {
  border: 1px solid green;
}

footer {
  border: 1px solid yellow;
}

ul li {
  padding: 10px 5px 10px 5px;
  padding: 10px 5px;
}

nav {
  background-color: #333;
  padding: 2px 5px;
}
nav ul {
  list-style-type: none;
}

nav li {
  display: inline;
}
