/* Fixed sidenav, full height */
.sidenav {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
}

/* Style the sidenav links and the dropdown button */

/* On mouse-over */
.sidenav a:hover,
.dropdown-btn:hover {
  color: #f1f1f1;
}

/* Main content */
.main {
  margin-left: 200px; /* Same as the width of the sidenav */
  font-size: 20px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
.dropdown-container {
  display: none;
  background-color: #505050;
  width: 200px;
}

a {
  text-decoration: none;
  color: white;
}

li {
  padding: 10px;
  list-style-type: none;
  text-align: center;
  border: 1px solid rgb(43, 43, 43);
}

li:hover {
  background-color: rgb(95, 95, 95);
}

.bg-rood {
  background-color: red;
}

.bg-blauw {
  background-color: blue;
}

.bg-groen {
  background-color: green;
}

.bg-geel {
  background-color: yellow;
}
