$padding: 20px;
$lightGreen: #c0eea9;
$blackish: #090b08;
$black: #000;
$white: #fff;
$fluorGreen: hsl(100, 50%, 65%);

@mixin mixinVoorbeeld {
  max-width: 700px;
  text-align: center;
  padding-top: 1.4em;
}
